{% extends 'base.html.twig' %}

{% block content %}
    <!-- First Step -->
    <div class="row">
        <div class="col-12">
            <h2 style="font-family: Raleway;">Mission Statement</h2>
            <hr />
            <div style="margin-bottom:30px;">
                <blockquote class="blockquote">To raise the standard and quality of education in Kogi state which is a veritable tool for development.</blockquote>
            </div>
            <h2>Vision Statement</h2>
            <hr />
            <div style="margin-bottom:30px;"><blockquote class="blockquote">To create educational access through scholarship.</blockquote></div>
        </div>
    </div>

    {% endblock content %}