{% extends 'base.html.twig' %}

{% block content %}
    <div class='row'>
        <div class='col'>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style='margin-left:auto; margin-right:auto; max-height:380px; max-width:720px !important;'>
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleControls" data-slide-to="1" ></li>
                    <li data-target="#carouselExampleControls" data-slide-to="2"></li>
                    <li data-target="#carouselExampleControls" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner" style='max-height:380px; max-width:720px !important;'>
                    <div class="carousel-item active" style='max-height:380px; max-width:720px !important;'>
                        <img class="d-block w-100" src="{{asset('slideshow/1.jpg')}}" alt="First slide">
                    </div>
                    <div class="carousel-item" style='max-height:380px; max-width:720px !important;'>
                        <img class="d-block w-100" src="{{asset('slideshow/2.jpg')}}" alt="Second slide">
                    </div>
                    <div class="carousel-item" style='max-height:380px; max-width:720px !important;'>
                        <img class="d-block w-100" src="{{asset('slideshow/3.jpg')}}" alt="Third slide">
                    </div>
                    <div class="carousel-item" style='max-height:380px; max-width:720px !important;'>
                        <img class="d-block w-100" src="{{asset('slideshow/4.jpg')}}" alt="Fourth slide">
                    </div>
                </div>

                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div style="padding:10px;">
                <h4 style="">Welcome Message From Kogi State Scholarship Board</h4>
                <hr />
                <p>
                    Welcome to the online portal of Kogi State Scholarship Board. 
                    This portal is for Kogi state students in all tertiary institutions across the country 
                    (public and private higer institutions - universities, polytechnics, colleges of education, 
                    schools of health technology/nursing schools and other degree awarding institutions that are on regular programmes).
                </p>
            </div>
        </div>
    </div>
{% endblock content%}
