{% extends 'base.html.twig' %}

{% block content %}
    <!-- First Step -->
    <div class="row">
        <div class="col-md-12">
            <h3 class="font-weight-bold pl-0 my-4"><strong>Application is not Open!</strong></h3>
                Sorry!... Application form is not open. 
        </div>
    </div>

    {% endblock content %}