<!-- Stepper -->
<div class="steps-form-3">
    <div class="steps-row-3 setup-panel-3 d-flex justify-content-between">
        <div class="steps-step-3">
            <a href="#step-5" type="button" class="btn btn-info btn-circle-3 waves-effect" data-toggle="tooltip" data-placement="top" title="Basic Information"><i class="fa fas fa-folder-open" aria-hidden="true"></i></a>
        </div>
        <div class="steps-step-3">
            <a href="#step-6" type="button" class="btn btn-pink btn-circle-3 waves-effect" data-toggle="tooltip" data-placement="top" title="Basic Information"><i class="fa fas fa-id-card" aria-hidden="true"></i></a>
        </div>
        <div class="steps-step-3">
            <a href="#step-7" type="button" class="btn btn-pink btn-circle-3 waves-effect" data-toggle="tooltip" data-placement="top" title="Basic Information"><i class="fa fas fa-money-bill-alt" aria-hidden="true"></i></a>
        </div>
        <div class="steps-step-3">
            <a href="#step-9" type="button" class="btn btn-pink btn-circle-3 waves-effect" data-toggle="tooltip" data-placement="top" title="Basic Information"><i class="fa fas fa-university" aria-hidden="true"></i></a>
        </div>
        <div class="steps-step-3">
            <a href="#step-10" type="button" class="btn btn-pink btn-circle-3 waves-effect" data-toggle="tooltip" data-placement="top" title="Basic Information"><i class="fa fas fa-credit-card" aria-hidden="true"></i></a>
        </div>
        <div class="steps-step-3">
            <a href="#step-11" type="button" class="btn btn-pink btn-circle-3 waves-effect" data-toggle="tooltip" data-placement="top" title="Basic Information"><i class="fa fas fa-power-off" aria-hidden="true"></i></a>
        </div>
    </div>
</div>
